
@import 'partials/base';
@import 'font-awesome/font-awesome.scss';

@import 'video_chart.scss';
// Mixins


// CSS
h1 {
	@include popfont;
}

.stats {
	@include popfont;
	margin: 0 0 15px 0;
	padding: 0;
	li {
		position: relative;			
		list-style-type: none;
		display: inline-block;					
		margin: 0 50px 0 0;
	}
	span {
		font-weight: bold;
	}	
}

#small-stats {
	color: #646464;
	font-size: 15px;
	span {		
		color: #4D4D4D;
		display: block;
		font-size: 30px;
	}
	
}	
#change {
	container {
		display: block;
	}
	span{
		display: inline;
	}
	span#percent {		
		color: #6E6E6E;
		font-weight: normal;	
		font-size: 15px;
	}
}

.arrow-up {		
	position: absolute;
	left: 98px;
	top: 22px;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;	
	border-bottom: 7px solid #44BB0B;

} 
.arrow-down {
	position: absolute;
	left: 98px;
	top: 22px;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;	
	border-top: 7px solid #EC0000;
}

#big-stats {	
	color: #939393;
	display: block;
	height: 50px;	
	width: 853px;
	margin-left: auto;
  	margin-right: auto;
	font-size: 14px;
	li {
		display: inline-block;
	}
	div {
		display: inline;
	}
	span {
		color: #909090;
		vertical-align:middle;
		font-size: 26px;		
	}
}


