
@import 'partials/base';
@import 'font-awesome/font-awesome.scss';

@import '../GangnamStyle/chart_colors';


.toggle {	
	@include popfont;	
	@include noSelect;
	display: inline-block;
	margin: 0 -1px 0 0px;
  	padding: 5px 5px;
	height: 15px;
	width: 72.5px;
	font-size: 14px;
	color: white;
	background: $hover-color;	
	@include border-top-radius(5px);
	cursor: pointer;
	@include single-transition(background-color, 0.5s);
}

.toggle:before {
	font-family: fontawesome;	
	margin-right: 2px;	
}

.toggle:hover {
	background: $btn-color;
}

#graph-btn {
	
}

#graph-btn:before {
	content: '\f080';
}

#video-btn:before {
	content: '\f144';
}

.transitional {
	@include single-transition(all, 1s, ease, 0);
}

.wrapper {
	position: relative;		
	margin: 0;
	padding: 0;
}

#video-mask {
	position: absolute;
	display: inline-block;	
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}

#smoothie-chart {	
	position: absolute;	
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
    top: 0;
    z-index: -1;
}

.onloadOpacity {
	opacity: 0.05;
}

#video-frame {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}
