@font-face {
  font-family: 'open_sansbold';
  src: local("..\vendor\fonts\opensans\opensans-bold-webfont.eot");
  src: local("..\vendor\fonts\opensans\opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), local("..\vendor\fonts\opensans\opensans-bold-webfont.woff") format("woff"), local("..\vendor\fonts\opensans\opensans-bold-webfont.ttf") format("truetype"), local("..\vendor\fonts\opensans\opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 40, ../sass/partials/_base.scss */
.hidden {
  display: none;
}

/* line 43, ../sass/partials/_base.scss */
.invisible {
  opacity: 0;
}

/* line 46, ../sass/partials/_base.scss */
.visible {
  opacity: 1;
}

/* line 49, ../sass/partials/_base.scss */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 59, ../sass/partials/_base.scss */
html, body {
  height: 100%;
  padding: 0;
}

/* line 64, ../sass/partials/_base.scss */
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  min-width: 800px;
}

/* line 8, ../sass/style.scss */
#poptitle {
  text-align: center;
}

/* line 11, ../sass/style.scss */
#popvideo {
  width: 560px;
  height: 315px;
  margin: 0 auto;
}
