// This file must be imported before loading html5-boilerplate

// Defaults
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;


// Custom
//compass imports
@import "compass";
@import "compass/css3";
@import "h5bp";


//mixins
@mixin popfont {
  font-family: 'open_sansbold', sans-serif;  
}

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Global classes

.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Global css
html, body {
    height: 100%;
    padding: 0;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  min-width: 800px;
}